<ul id="menu">
    <li>@Html.ActionLink("微博", "Profiles", "User", new { userId = ViewBag.User.UserId }, new { })</li>
    <li>@Html.ActionLink("个人资料", "Details", "User", new { userId = ViewBag.User.UserId }, new { })</li>
    <li>@Html.ActionLink("关注", "Follows", "User", new { userId = ViewBag.User.UserId }, new { })</li>
    <li>@Html.ActionLink("粉丝", "Fans", "User", new { userId = ViewBag.User.UserId }, new { })</li>
    <li>@Html.ActionLink("商品", "Offers", "User", new { userId = ViewBag.User.UserId }, new { })</li>
</ul>